<nav class="navbar">
    <div class="navbar-branding">
        <img 
            src="../../assets/images/brand-logo.png" 
            alt="brand-logo" 
            class="navbar-branding__logo"
        />
        <p class="navbar-branding__title">News4U</p>
    </div>

    <div class="navbar-nav">
        <ul class="navbar-nav__links">
            <li routerLinkActive="active"><a routerLink="home">Accueil</a></li>
            <li routerLinkActive="active"><a routerLink="posts">Articles</a></li>
            <li routerLinkActive="active"><a routerLink="login">Connexion</a></li>
        </ul>
    </div>
</nav>